@import '../../vars.css';
.GoalNewBig {
    width:100vw;
    min-height: 3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-main);
    margin:1rem;
    color: var(--text-main-color);
    flex-direction: row;
    cursor: pointer;
}
.GoalNewBig div {
    border: none;
    height:2rem;
    margin:0.5rem;
    margin-top:1.2rem;
}
.AddIcon {
    fill:var(--nav-color);
}