@import url('./vars.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

html {
  font-size:100%;
}
div#root {
  border:none;
}
.App {
  text-align: left;
  border:none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header {
  background-color:var(--main-color);
  height: 5rem;
  display: flex;
  flex-direction: row; 
  color:var(--text-main-color);
  border:none;
}
.Header div {
  border:none;
}
.MainIcon {
  width:2rem;
  height:2rem;
  fill:var(--text-main-color);
}
.LogoHolder {

}
.Logo {
  margin-top: -1rem;
  margin-left:1rem;
}
.HeaderLeft {
  height: auto;
  font-family:Oswald, arial;
  color:var(--logo-color);
  font-weight: 700;
  font-style:italic;
  font-size:3em;
  flex:1;
  border:none;
  display:flex;
  align-items: center;
  
}

.HeaderRight {
  display:flex;
  flex:1;
  align-items: center;
  justify-content: flex-end;
}
.AccountContainer {
  margin-right:1rem;
  cursor:pointer;
}
div {
  border: 1px solid orange;
}

.content {
  display:flex;
  justify-content: center;
  border:none;
}
.GoalPage {
  border: none;
}
.content_div {
  position: relative;
  padding: 0;
  background-color: var(--content-bg-color);
  border: none;
}
.bg_top {
  position:relative;
  top:0px;
  height: 40vh;
  background-color: var(--content-bg-color);
  padding: 0;
}
.skew_bg {
  position:relative;
  top:-20vh;
  height:120vh;
  transform: skewY(5deg);
  background-color: #db4747;
}
.scrolly_text {
  padding:5vh;
  font-size:5vh;
  color:var(--content-text-color);
  overflow: hidden;
}
.scrolly_text > .body_header {
  font-size:7vh;
  font-weight:500;
}
.f1 {
  z-index:127;
  min-height:40vh;
  height:auto;
  background-image: url("/img1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f2 {
  background-image: url("/img2.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testAppFlex {
  display:flex;
  justify-content: flex-end;
  height: 3em;
}
.testIn {
  background:white;
  margin:5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
